{% load static %}
<!--<!doctype html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My First Blog</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <!--아래 텍스트를 클릭 시 무조건 post_list view function에 해당하는 페이지로 이동-->
        <!--여기서는 받아줘야할 인수가 없으니까 단순히 url에서 이름만 정해주면 된다 -->
        <h1 class="card mb-4"><a href="{% url 'post-list' %}">DjangoGirls Blog</a></h1>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
