{% load static %}
<!--<!doctype html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My First Blog</title>
    {% comment %}
        {% static '경로' %}는
        settings.py의 STATICFILES.DIRS에 포함된 경로를 기반으로 파일의 URL을 리턴해준다.

    {% static %}태그를 쓰려면 템플릿 상단에 {% load static %}이 필요
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="card mb-4">DjangoGirls Blog</h1>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">[{{ post.id }}] {{ post.title }}</h5>
                <h6 class="card-subtitle text-muted mb-3 text-right">published: {{ post.published_date }}</h6>
                <p class="card-text">{{ post.text|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</body>
</html>
